@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animateModalOut {
  animation: modal-out 0.15s ease-in forwards;
}

@keyframes button-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animateModalIn {
  animation: modal-in 0.15s ease-out forwards;
}

.animateModalOut {
  animation: modal-out 0.15s ease-in forwards;
}

.animateButtonOut {
  animation: button-out 0.15s ease-in forwards;
}
