body{
    background-color: 696DFF;
}

.accordions-div{
    width:50%;
    margin-left:25%;
    margin-top:10%;
}

.accordion-container {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  margin-top:2%;
}

.accordion {
  cursor: pointer;
  padding: 20px; 
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top:2%;
  font-size:30px;
  font-weight: bold;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
} 

.accordion:after {
  content:"\203A";
  font-size: 30px;
  float: right;
  margin-left: 5px;
  margin-right: 20px;
  transition:0.2s;
}

.active:after {
  transform: rotate(90deg);
  transition: 0.2s;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 5% 0 5%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  word-spacing: 50%;
  line-height:1.5;
  font-family: 'Courier New', Courier, monospace;
  color: 454545;
}

@media (max-width: 768px){
  .accordion{padding: 10px; font-size: 25px;}
  .panel{word-spacing: 10%;}
}

